// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

.header {
  background-color: #000;
  color: #4AF626;
  height: 100vh;
}

.section {
  padding-left: 2.5%;
  padding-right: 2.5%;

  .heroParagraph {
    padding-top: 1.5%;
    padding-left: 0;
    font-size: 0.75em;
    width: 100%;

    @include md {
      padding-top: 1%;
      font-size: 2em;
    }

    @include xl {
      padding-top: 1%;
      font-size: 1.75em;
    }
  }

  h1 {
    padding-top: 50vh;
    font-size: 1.25em;
    font-weight: 500;

    @include md {
      padding-top: 50%;
      font-size: 3em;
    }

    @include xl {
      padding-top: 22.5%;
      font-size: 3.5em;
    }
  }

  h2 {
    padding: 12.5% 2.5% 0 2.5%;
    font-size: 1em;
    font-weight: 500;
    
    @include xl {
      padding-top: 2.5%;
      font-size: 2.5em;
    }
  }

  h3 {
    padding: 10% 2.5% 2.5% 2.5%;
    font-size: 0.9em;

    @include xl {
      padding-top: 2.5%;
      padding-bottom: 1%;
      font-size: 1.75em;
    }
  }

  p {
    font-size: 1em;
    width: 100%;
    padding-top: 3.25%;

    @include xl {
      padding-top: 1.5%;
      padding-left: 2.5%;
      font-size: 1em;
      width: 70%;
    }
  }

  .github {
    a {
      padding-left: 2.5%;
    }

    a:visited {
      color: blue;
    }

    p {
      padding-left: 5%;
      padding-top: 0.5%;
      padding-bottom: 1.5%;
    }
  }
}


