// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/ttf/Hack-Bold.ttf');
  src: url('/fonts/ttf/Hack-BoldItalic.ttf');
  src: url('/fonts/ttf/Hack-Italic.ttf');
  src: url('/fonts/ttf/Hack-Regular.ttf');
  font-display: swap;
}

* {
  margin: 0 0 0 0;
  padding: 0;
  font-family: 'Hack';
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

nav {
  overflow: hidden;
  position: relative;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  height: 60px;

  ul {
    display: none;
    background-color: #000;
    width: 40%;
    float: right;

    @include md {
      width: 20%;
    }
  }

  ul:first-child {
    padding-top: 10%;

    @include md {
      padding-top: 5%;
    }

    @include xl {
      padding-top: 2%;
    }
  }

  li {
    padding-top: 10%;
    display: block;    

    @include md {
      padding-top: 10%;
    }

    @include xl {
      padding-top: 1.75%;
    }
  }

  .icon {
    color: #4AF626;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
  }

  a {
    color: #4AF626;
    padding: 5% 20%;
    text-decoration: none;
    font-size: 17px;
    display: block;
    float: right;

    @include md {
      
    }
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }
}

.terminal-base {
  height: 100vh !important;
  overflow-x: hidden!important;
}